/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
	.nav-logo {
    	height: 20px;
	}
	.text-small-sm { /* over h2 */
		font-size: 1.5rem !important;
	}
	.swiper-printer-details { /* swiper container PRINTER DETAILS */
    	height: 13rem;
	}

	.mailchimp-popup {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		width: 100%;
		left: 0;
	}

	.homebanners { /* HOME BANNERS CAROUSEL NOT 100% HEIGHT ON MOBILES */
		padding-top: 55px;
		height: unset;
	}

	.swiper-wrapper-home {
		height: 45%;
	}


	/* **************************************************************************** */
	/* HOME *********************************************************************** */
	/* **************************************************************************** */
	/* <editor-fold> */

	/* *** HOME *** */

	.owl-carousel .owl-stage {
		align-items: start !important;
	}

	/* *** HOME end *** */
	/* /HOME ********************************************************* *//*</editor-fold>*/
	/* **************************************************************************** */


	/* **************************************************************************** */
	/* ABOUT ********************************************************************** */
	/* **************************************************************************** */
	/* <editor-fold> */

	/* *** ABOUT *** */

	.logos-fabricantes img {
		height: 30px;
		width: auto;
	}

	/* *** ABOUT end *** */
	/* /ABOUT ******************************************************** *//*</editor-fold>*/
	/* **************************************************************************** */


}