/* GOOGLE FONTS */
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400|Catamaran:300,400,700|Oxygen:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Quicksand:300,400,500,700');

/* **************************************************************************** */
/* GENERAL PURPOSE ************************************************************ */
/* **************************************************************************** */
/* <editor-fold> */

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 0.95rem;
	/* Fade In Effect */
	opacity: 1;
    transition: 1s opacity;
}
/* Fade Out Effect */
body.fade-out {
    opacity: 0;
    transition: none;
}

a {
	color: #17a2b8; /* # FF3366 */
	transition: color .4s ease;
}
a:focus, a:hover {
	color: #138496;
}
h1, h2, h3, h4 {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
}

.text-small li {
	font-size: 80%;
}
.blue-info {
	color: #17a2b8;
}
.text-cyan {
	color: #00b7ff !important;
}

.hideme {
    opacity:0;
    transform: translateY(15%);
    transition: transform .8s ease;
}


/** GENERAL SCROLLBAR */
body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(0,0,0,0.04);
	border: 1px solid #ccc;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(left, #fff, #e4e4e4);
	border: 1px solid #aaa;
}
body::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
body::-webkit-scrollbar-thumb:active {
	background: linear-gradient(left, #22ADD4, #1E98BA);
}




/** OWL CAROUSEL CUSTOM CSS **/
.owl-theme .owl-dots .owl-dot.active span {
	background: #007aff !important;
	opacity: 1 !important;
}
.owl-theme .owl-dots .owl-dot:hover span {
	opacity: 1 !important;
}
.owl-theme .owl-dots .owl-dot span {
	background: #000 !important;
	opacity: .2 !important;
}


/*.swiper-pagination-bullet-active {*/
	/*opacity: 1;*/
	/*background: #007aff;*/
/*}*/

/*.swiper-pagination-bullet {*/
	/*width: 8px;*/
	/*height: 8px;*/
	/*display: inline-block;*/
	/*border-radius: 100%;*/
	/*background: #000;*/
	/*opacity: .2;*/
/*}*/




/** WEBSITE ROUTE **/
.breadcrumb {
    padding: .5rem 1rem;
}

/* /GENERAL PURPOSE DIVS ***************************************** *//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* NAVBAR ********************************************************************* */
/* **************************************************************************** */
/* <editor-fold> */


/* *** HEADER *** */
.nav-logo {
    height: 30px;
}
.navbar i {
    font-size: 20px;
}
/* *** HEADER end *** */

/* --- NAVBAR --- */
.navbar {
	border-bottom:1px solid rgba(0,0,0,.05);
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05); /* , inset 0 -1px 0 rgba(0,0,0,.1) */
	padding: 0;
}
.navbar .navbar-toggler {
	margin: .5rem 0; /* margin: .5rem 1rem; */
}
.navbar-brand {
	/*margin: auto 1rem;*/
}
.bg-faded {
    background-color: rgba(247,247,247,0.95);
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}
.nav-link {
	text-transform: capitalize;
	padding-right: .9rem !important;
    padding-left: .9rem !important;
    font-weight: 500;
	white-space: nowrap;
}

/* link color */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

.navbar .nav-item {
	padding: .5rem 0;
	transition: all .4s ease;
}
.navbar .nav-item:hover {
	/*background: #f3f3f3;*/
	background: #fff;
	color: white;
}
.navbar .nav-item a:hover, .navbar .nav-item a:focus {
	color:white;
}
.navbar .nav-item-icon:hover {
	background: transparent;
}
.navbar .nav-item-icon a:hover, .navbar .nav-item-icon a:focus {
	color: white;
}

/* active state */
.navbar-light .navbar-nav .active>.nav-item, .navbar-light .navbar-nav .nav-item.active, .navbar-light .navbar-nav .nav-item.show, .navbar-light .navbar-nav .show>.nav-item {
    color: rgba(0,0,0,.9) !important;
    background: #fff;
}
/* --- NAVBAR end --- */

/* BOOTSTRAP customized end */


/* /NAVBAR ******************************************************* *//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* WRAPPER & FOOTER *********************************************************** */
/* **************************************************************************** */
/* <editor-fold> */

/* *** WRAPPER *** */
.wrapper {
	width: 100%;
	padding-top: 5.25rem;
	padding-bottom: 6rem;
}
.main {
	padding: 1.5% 3%;
}
/*.wrapper-home {
	padding-top: 2.5rem;
}*/
/* *** WRAPPER end *** */


/* ************************************************** */
/* *** FOOTER *************************************** */
.footer-container {
	/*margin-top: 3%;*/
	position: fixed;
	bottom: 0;
	z-index: 9;
	left: 0;
	right: 0;
	margin-left: 0;
	margin-right: 0;
}
.footer {
	padding: 1.5rem 0;
}

.footer-container .privacy_link {

}

.foot-logo {
    height: 20px;
}

.footer dl a {
	color: #ccc;
	transition: all .4s ease;
}
.footer dl a:hover, .footer dl a:focus {
	color: #ffffff;
	text-decoration: none;
}
.footer .col {
	border: 1px solid transparent;
}
/* *** FOOTER end *** */

/* /WRAPPER & FOOTER *******************************************//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* HOME *********************************************************************** */
/* **************************************************************************** */
/* <editor-fold> */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
      -webkit-filter: drop-shadow(0px 0px 8px #ccc);
  filter: drop-shadow(0px 0px 8px black);
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}


/* HOME BANNERS CAROUSEL */
.homebanners {
	padding-top: 55px;
	height: 100%;
}

.swiper-printer-details {
    height: 25rem;
    width: 100%;
}
.swiper-wrapper {
	/*height: 100%;*/
}
.swiper-slide {
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.swiper-printer {
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.carousel-home h1 {
	text-shadow: 0 0 3px #000000;
}
.carousel-home p {
	text-shadow: 1px 1px 5px #000000;
	margin-bottom: 0;
	font-weight: 400;
}
.carousel-home .swiper-pagination {
	text-align: left;
	padding-left: 10%;
}
.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
	transition: opacity .2s ease;
	opacity: 0.6;
}
.swiper-button-prev.swiper-button-white:hover, .swiper-button-next.swiper-button-white:hover {
	opacity: 1;
}
.swiper-button-prev.swiper-button-black, .swiper-button-next.swiper-button-black {
	transition: opacity .2s ease;
	opacity: .6;
}
.swiper-button-prev.swiper-button-black:hover, .swiper-button-next.swiper-button-black:hover {
	opacity: .9;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    padding-bottom: 1.5rem;
}
.swiper-pagination-bullet {
    width: .75rem;
    height: .75rem;
	transition: opacity .2s ease;
}
.swiper-pagination-bullet:hover {
	opacity: .6;
}
.swiper-container .slide {
	position: absolute;
	bottom: 0;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10%;
}
.slider-arrow {
	position: absolute;
	bottom: 2.5rem;
	padding-bottom: 1rem;
	font-size: 3rem;
	z-index: 99;
    width: 100%;
    text-align: center;
}
.slider-arrow a {
    color: rgba(255,255,255,0.6);
    transition: all .4s ease;
}
.slider-arrow a:hover, .slider-arrow a:focus {
    color: white;
}

.carousel-home .swiper-pagination {
	text-align: right !important;
	padding-right: 10% !important;
}
/* END OF HOME BANNERS CAROUSEL  */
/* ***************************** */


/* **************************** */
/* HOME VIDEOS CAROUSEL ******* */

/* FEATURED VIDEO (PLAYER) */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* END OF FEATURED VIDEO (PLAYER) */

/* CAROUSEL OF VIDEOS */
.overlay-video {
	position: relative;
}
.overlay-video .overlay-video-play {
	opacity: 0;
	position: absolute; z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4) url("../img/play-button.png") no-repeat scroll center center / 50px 50px;
	transition: opacity .2s ease-out;
}
.playWrapper .playBtn {
	position: absolute; z-index: 2;
	width: 50px; height: 50px;
	left: 0; right: 0; top: 0; bottom: 0; margin: auto; /* center */
}
.video-thumb .overlay-video:hover .overlay-video-play {
	opacity: 1;
}
/* END OF CAROUSEL OF VIDEOS */

/* END OF HOME VIDEOS CAROUSEL  */
/* **************************** */


/* ***************************** */
/* NEW RELEASES CAROUSEL ******* */
.owl-stage {
	padding-top: 1% !important;
	padding-bottom: 1% !important;
}
/* END OF NEW RELEASES CAROUSEL  */
/* ***************************** */

/* ********************************************* */
/* CARDS FOR TALAWIN SECTIONS ****************** */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	#sectionCards .card-img-top {
		max-height: 150px;
		width: 100%!important;
	}

	/* Cards for Printers and 3DPrinters grid */
	.card-img-top {
		width: 100%!important;
	}
}

/* END OF CARDS FOR TALAWIN SECTIONS *********** */
/* ********************************************* */



/* Accept privacy policy checkbox */
#mc_embed_signup .privacy {
	text-align: right
}
 #mc_embed_signup .privacy > label {
	margin-right: 1rem;
}
#mc_embed_signup .privacy > input {
	margin-right: 1rem;
	line-height: 7rem;
}

/* /HOME ********************************************************* *//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* PRINTERS ******************************************************************* */
/* **************************************************************************** */
/* <editor-fold> */
/* *** PRINTERS (GRID) *** */



/* ****************************** */
/* PRINTERS NEW ***************** */
/* ****************************** */
body#printers .page_title {
	position: relative;
	/* display: flex; */
	gap: 2rem;
	align-items: baseline;
	align-content: baseline;
	justify-content: flex-start;
	margin-bottom: 2rem;
}
body#printers .page_title h3 {
	margin-bottom: 0!important;
}


/* ****************************** */
/* PRINTERS OLD ***************** */
/* ****************************** */
body#printers.used .page_title img {
	display: none;
}


.printers-grid li {
	padding: .15rem 1.25rem;
	font-size: .8rem;
}
.printers-grid button {
	width: 48%;
}
.main-pic-grid-img {
	padding: 0.75rem 0.5rem;
}
.printers-grid .card {
	margin-bottom: 2rem;

    -webkit-transition: transform .1s ease-out;
    -moz-transition: transform .1s ease-out;
    -ms-transition: transform .1s ease-out;
    -o-transition: transform .1s ease-out;
    transition: transform .1s ease-out;
}

.printers-grid .card:hover {
    transform: scale(1.012);
}

.printers-grid .card-header {
	z-index: 1;
}

/** Justify the tech features info in two columns */
.printers-grid .card .list-group .list-group-item span {

    left: 0;
    position: absolute;
    padding-left: 10.5rem !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.printer-sold {
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: -15px;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	z-index: 0;
    pointer-events: none;
}

/* PRINTER IS RELEASE ICON */
.printer-release {
    pointer-events: none;
	position: absolute;
	z-index: 0;
	padding: 5%;
	bottom: 0;
	text-align: right;
	width: 100%;
}
.printers-grid .card .printer-release img {

	transform: rotate(-16deg);

	-webkit-transition: transform .15s ease-out;
	-moz-transition: transform .15s ease-out;
	-ms-transition: transform .15s ease-out;
	-o-transition: transform .15s ease-out;
	transition: transform .15s ease-out;
}

.printers-grid .card:hover .printer-release img {
	transform: rotate(0deg);
}
/* END OF PRINTER IS RELEASE ICON */

.main-pic-grid {
	min-height: 200px;
	position: relative;
}




/* *** PRINTERS (GRID) end *** */

/* *** PRINTERS (GRID) Y TODAS LAS CARD end *** */
.card-header {
	background: url("../img/printers-headline.gif");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% 2px, contain;
	border-bottom: 0;
}
/* *** PRINTERS (GRID) Y TODAS LAS CARD end *** */

/* *** PRINTER (DETAILS) *** */

a.myPill {
	/*color: rgba(0,0,0,.5);*/
	font-weight: 500;
	transition: background-color .2s ease;
	border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
a.myPill:focus, a.myPill:hover {
	background-color: rgba(0,0,0,0.025);
}
.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #fff;
    background-color: #17a2b8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.list-documents .list-group-item {
    padding: .25rem 1.25rem;
}

.details-slider {
	transition: transform .4s ease;
	transform: translateX(25%);
}
.details-slider.details-anim {
	transform: translateX(0);
}

.product-icons {
	font-size:.9rem;
	font-weight:bold;
}
.product-icons div {
	display: grid;
}
.product-icons img {
	height: 30px;
	justify-self: center;
	margin-bottom: 8px;
}

.grid-img {
	max-height: 12.5rem;
	width: auto;
}

/* ********* VIDEO ********* */
.vplayer {
	/*margin-bottom: 30px;*/
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
	background-color: #000;
}
.vplayer img {
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.7;
}
.vplayer .plybtn {
	box-shadow: 0 0 30px rgba( 0, 0, 0, 0.6);
	width: 90px;
	height: 60px;
	background-color: #333;
	z-index: 1;
	opacity: 0.8;
	border-radius: 6px;
}
.vplayer .plybtn:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent #fff;
}
.vplayer img,
.vplayer .plybtn {
	cursor: pointer;
}
.vplayer img,
.vplayer iframe,
.vplayer .plybtn,
.vplayer .plybtn:before {
	position: absolute;
}
.vplayer .plybtn,
.vplayer .plybtn:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0);
}
.vplayer iframe {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
/* ********* VIDEO end ********* */

/* *** PRINTER (DETAILS) end *** */

/* /PRINTERS **************************************************//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* ABOUT ********************************************************************** */
/* **************************************************************************** */
/* <editor-fold> */

/* TEAM MEMBERS GRID */
#teamMembersGrid {
	width: 100%;
	display: flex;
	flex-direction: row;
	/* grid-template-columns: repeat(4, 1fr);*/
	/* grid-auto-rows: 1fr;*/
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 2rem auto;
	gap: .6rem 1rem;
}
#teamMembersGrid .teamMemberItem {
	--member-width: 25%; /* Custom property from DDBB */
	width: calc(var(--member-width) - 1rem);
	text-align: center;
}





.logos-fabricantes img {
	height: 50px;
	width: auto;
}

.owl-carousel .owl-stage { /* VERTICAL ALIGN FOR OWL CAROUSEL (custom) */
	display: flex;
	align-items: center;
}

/* /ABOUT *************************************************** *//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* CONTACT ******************************************************************** */
/* **************************************************************************** */
/* <editor-fold> */

.contact-section {
	min-height: 100%;
	padding-top: 3rem;
}

/* **************************************************************************** */
/* PRIVACY POLICE ACCEPTANCE CHECKBOXES *************************************** */

/* Accept privacy policy checkbox on Contact Form section*/

#contactForm > .privacy {
	float: right;
}
#contactForm > .privacy > label {
	padding-right: 1rem;
	transition: color .2s ease-out;
}

/* Accept privacy policy checkbox on Newsletter section*/
.contact-section #mc_embed_signup .privacy {
	text-align: right
}
.contact-section #mc_embed_signup .privacy > label {
	margin-right: 1rem;
}
.contact-section #mc_embed_signup .privacy > input {
	margin-right: 1rem;
	margin-top: 1rem;
	line-height: 7rem;
}
/* END OF PRIVACY POLICE ACCEPTANCE CHECKBOXES ******************************** */
/* **************************************************************************** */

.addresses i {
	color: #FF3366;
	font-size: 24px;
}

    /* **************************************************************************** */
    /* MAPS *********************************************************************** */
    .contact-map {
        overflow: hidden;
        /*border-radius: 8px;*/
        position: relative;
        z-index: 99;
        height: 10rem;
        width: 100%;
        border:1px solid rgba(0,0,0,.25);
    }

	.contact-map-big {
		height: 23.2rem !important
	}

    /* Remove Google Map Footer
    a[href^="http://maps.google.com/maps"] {
        display: none !important
    }

    a[href^="https://maps.google.com/maps"] {
        display: none !important
    }

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display: none;
    }  */

    .gmnoprint div {
        /*background: none !important;*/
    }

    /* /MAPS ********************************************************************** */
    /* **************************************************************************** */

    /* --------- CONTACT FORM NOTIFICATIONS ALERTS ------- */
	#notification-container {
	    position: fixed;
	    top: 50px;
	    right: 50px;
	    z-index:9999999999;
	}
	/*.form-notification {
	    font-size: 11pt;
	}*/
	/* --------- /CONTACT FORM NOTIFICATIONS ALERTS ------ */

/* /CONTACT ****************************************************** *//*</editor-fold>*/
/* **************************************************************************** */



/* **************************************************************************** */
/* MAILCHIMP ****************************************************************** */
/* **************************************************************************** */
/* <editor-fold> */

	#susbsciption-form .break {
		flex-basis: 100%;
		height: 0;
	}

    #privacyCheckbox {
        position: relative;
        bottom: -8px;
        display: flex;
        align-items: center;
        padding-left: 0.1rem;
    }

    #privacyCheckbox > label {
        padding-left: .4rem;
    }

	.mc-field-group { display: inline-block; } /* positions input field horizontally */

	.button-mailchimp { display: inline-block; }

	.clear { display: inline-block; } /* positions button horizontally in line with input */

	.mailchimp-popup {
		position: fixed;
		color: white;
		background: rgba(52, 58, 64, 0.75);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		bottom: 0;
		left: 5%;
		z-index: 99;
		display: none;
	}

/* /MAILCHIMP **************************************************** *//*</editor-fold>*/
/* **************************************************************************** */