/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar {
		padding: .5rem 1rem;
	}

	.navbar .container-navbar {
		padding-right: 0;
    	padding-left: 0;
	}

	.navbar .container-navbar-lg {
		margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.navbar .nav-item .container {
		margin-right: 0;
	    margin-left: 0;
	    padding-right: 0;
	    padding-left: 0;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
	.navbar .container-navbar-lg {
	    max-width: unset;
	}
}