/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px ) {
	.navbar .navbar-toggler {
		/*margin-left: 1rem;*/
	}



	/* **************************************************************************** */
	/* ABOUT ********************************************************************** */
	/* **************************************************************************** */

	/* TEAM MEMBERS GRID */
	#teamMembersGrid {}
	#teamMembersGrid .teamMemberItem {
		--member-width-mob: 98%; /* Custom property from DDBB */
		width: calc(var(--member-width-mob) - 1rem);
	}
	/* /ABOUT ********************************************************************* */
	/* **************************************************************************** */
}