/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.navbar > .container-fluid > .container {
		max-width: 500px;
	}

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 
	.navbar-brand {
		/*margin-left: 1rem;*/
		margin-right: 0;
	}
	.navbar .nav-item {
		padding: 0;
	}
	.navbar .navbar-collapse {
		border-top: 1px solid #17a2b8;
	}

	.navbar .container-navbar-lg {
		margin-right: 0;
	    margin-left: 0;
	    padding-right: 0;
	    padding-left: 0;
	}

	.navbar .nav-item .nav-link {
		padding-left: 0 !important;
	}


	/* **************************************************************************** */
	/* ABOUT ********************************************************************** */
	/* **************************************************************************** */

	/* TEAM MEMBERS GRID */
	#teamMembersGrid {}
	#teamMembersGrid .teamMemberItem {
		--member-width-tab: 33.3%; /* Custom property from DDBB */
		width: calc(var(--member-width-tab) - 1rem);
	}
	/* /ABOUT ********************************************************************* */
	/* **************************************************************************** */


	/* **************************************************************************** */
	/* FOOTER ********************************************************************* */
	/* **************************************************************************** */
	.footer-container {
		/*margin-top: 3%;*/
		position: relative;
		bottom: 0;
		z-index: 9;
		left: 0;
		right: 0;
	}

	/* /FOOTER ******************************************************************** */
	/* **************************************************************************** */


}