/* **************************************************************************** */
/* INDEX ********************************************************************** */
/* **************************************************************************** */


/* Toggler button, center vertically */

.navbar.navbar-custom-style {

}




.navbar button.navbar-toggler   {
    margin: 0.45rem 0;
}


/* Cancel background color on active links when menu is collapsed */
.navbar .navbar-nav > .active,
.navbar .navbar-nav > .active:hover,
.navbar .navbar-nav > .active:focus {

    margin: initial !important;
    height: inherit !important;
    margin-left: -1rem !important;
    padding-left: 1rem !important;
    color: #555;
    background-color: #e7e7e7;


}

.navbar .nav-item:hover   {
    margin-left: -1rem !important;
    padding-left: 1rem !important;
    background-color: #eee !important;
}


#user-menu li a{
    text-align: left;
}

#user-menu li .dropdown-menu    {
    left:0;
    right:unset;
}


.navbar #user-menu .nav-item   {
    margin-left: -1rem !important;
    padding-left: 1rem !important;

}
/* INDEX ********************************************************* *//*</editor-fold>*/
/* **************************************************************************** */